* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
}

header {
  width: 100%;
  height: 15%;
  top: 0%;
  position: absolute;
  background-color: rgb(155, 184, 237);
}

main {
  width: 100%;
  height: auto;
  top: 15%;
  bottom: 10%;
  position: absolute;
  background-color: rgb(142, 227, 198);
}

footer {
  width: 100%;
  height: 10%;
  bottom: 0%;
  position: absolute;
  background-color: rgb(236, 242, 206);
}
