:root {
  --size-header: 40px;
  --size-footer: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
}

header {
  width: 100%;
  height: var(--size-header);
  top: 0%;
  position: absolute;
  background-color: rgb(236, 242, 206);
}

main {
  width: 100%;
  height: auto;
  top: var(--size-header);
  bottom: var(--size-footer);
  position: absolute;
  background-color: rgb(142, 227, 198);
}

footer {
  width: 100%;
  height: var(--size-footer);
  bottom: 0%;
  position: absolute;
  background-color: rgb(155, 184, 237);
}
